@use '../abstracts/variables' as v;
@use '../base/tipografia' as t;



.navbar {
    width: 100%;
    background-color: v.$primario;
    padding-bottom: 3.5rem;
}


.navbar-toggler {
    margin-bottom: -3.5rem;
    border: transparent;

    &-icon {
        background-image: url(../../img/menu.png);
    }

    &:focus {
        box-shadow: none
    }

}

.navbar-collapse {
    margin-bottom: -3rem;
    justify-content: flex-end;

    .nav-link {
        color: v.$blanco;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.7rem;
        font-family: t.$fuentePrincipal;

        &:hover {
            color: v.$secundario;
        }
    }
}