@use '../abstracts/variables' as v;
@use '../base/tipografia' as t;
@use '../abstracts/mixins';



/* Hero de page cursos */
.course-banner {
    background-image: url(../../img/77166.webp);
    @include bg-imagen;
    height: 75rem;
}

/* Contenido de page Curso */

.course {
    display: grid;
    gap: 2rem;
    margin: 4rem;

    &__contenido {
        @include flex(space-evenly, start);
    }

    &__nombre {
        text-transform: uppercase;
        font-weight: bold;
    }

    &__parrafo {
        padding: 2rem 0;
    }
}


@media (max-width: 768px) {
    .course__button,
    .course__nombre {
        width: 100%;
        text-align: center;

    }
}

@include tablet{
    .course {
        grid-template-columns: 1fr 2fr;
    }
}

@include desktop {
    .course {
        grid-template-columns: 1fr 3fr;
    }
}