@use '../abstracts/variables' as v;
@use '../base/tipografia' as t;

.banner {
    background-image: url(../../img/Gastronomía.webp);
    @include bg-imagen(bottom);
    @include size(100%, 75rem);

    &__contenido {
        width: 40%;
        height: 100%;
        @include flex;
    }

    &__text {
        color: v.$blanco;
        text-shadow: 2px 2px v.$negro;
        margin-left: 2rem;
        font-size: 4.5rem;
        font-family: t.$FuenteTitulo;
        animation: text 1.5s reverse;

        @keyframes text {
            100% {
                transform: translateX(-100%)
            }
        }
    }
}

// Habilidades

.habilidades {
    margin: 4rem 2rem;
    display: flex;
    align-items: center;

    &__texto {
        font-size: 1.8rem;
        text-align: center;
    }

    &__img {
        width: 70px;

        &--left {
            transform: rotate(90deg);
        }
    }
}

@media (max-width: 576px) {
    .habilidades img {
        display: none;
    }
}

// Cursos del Home

.hero__grid {
    display: grid;
    gap: 3rem;
    margin: 4rem 2.5rem;
}

.curso {
    box-shadow: 0px 6px 25px 0px rgba(0, 0, 0, 0.75);
    transition: all .3s ease;
    border-radius: 10px;

    img {
        border-radius: 10px 10px 0 0;
    }

    &:hover {
        transform: scale(1.1);
    }

    .curso__info {
        @include flex;

        .curso__nombre {
            text-align: center;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 1.8rem;
            height: 9rem;
            @include flex;
        }
    }
}

@include tablet {
    .hero__grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@include desktop {
    .hero__grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

//Certificaciones
.certificado {
    padding: 2rem;
    margin: 1rem;
    transition: all .3s ease-in;

    img {
        width: 80px;
    }

    &__info {
        margin-left: 2rem;
    }

    &:hover {
        background-color: v.$primario;
        color: v.$blanco;
    }
}

.whatsapp{
    margin: 1rem;
    right: 0;
    bottom: 0;
    position: fixed;
}