@use '../abstracts/variables' as v;
@use '../base/tipografia' as t;


.nosotros {
    margin: 2rem 1rem;
    display: grid;
    gap: 2rem;
}


@media (min-width:992px) {
    .nosotros {
        grid-template-columns: 2fr 1fr;
    }

    .nosotros__contenido {
        .nosotros__imagen {
            margin-left: 41rem;
        }
    }

    .primer-texto {
        margin-top: 20rem;
        margin-left: -28rem;
    }

    .segundo-texto {
        margin-top: 28rem;
        margin-left: -79rem;
        margin-right: 43rem;
    }
}