@use'../base/tipografia' as t;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: t.$fuentePrincipal;
    font-size: 1.6rem;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}