@charset "UTF-8";
.heading__titulo {
  text-align: center;
  color: #ff3b3f;
  font-family: "Tilt Neon", cursive;
  font-size: 3.5rem;
  margin: 3rem 0;
  font-weight: bold;
}

.nosotros__parrafo {
  color: #fff;
  background-color: rgb(27, 27, 50);
  padding: 1.5rem;
  border-radius: 10px;
  font-size: 1.5rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}

.boton {
  text-transform: uppercase;
  border: none;
  padding: 1rem 3rem;
  border-radius: 5px;
  transition: 0.3s;
  background-color: #ff3b3f;
  color: #fff;
  margin-bottom: 2rem;
}
.boton:hover {
  background-color: rgb(27, 27, 50);
  color: #ff3b3f;
}

.header {
  position: sticky;
  top: 0;
  z-index: 10;
}

.banner {
  background-image: url(../../img/Gastronomía.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 750px;
}
.banner__contenido {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
}
.banner__text {
  color: #fff;
  text-shadow: 2px 2px #000;
  margin-left: 2rem;
  font-size: 4.5rem;
  font-family: "Bebas Neue", cursive;
}

@media (max-width: 992px) {
  .header__contenido {
    width: 100%;
  }
  .header__titulo {
    font-size: 3.5rem;
  }
}
.navbar {
  width: 100%;
  background-color: rgb(27, 27, 50);
  padding-bottom: 3.5rem;
}
.navbar .navbar-brand img {
  width: 280px;
}

.navbar-toggler {
  margin-bottom: -3.5rem;
  border: transparent;
}
.navbar-toggler-icon {
  background-image: url(../../img/menu.png);
}
.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-collapse {
  margin-bottom: -3rem;
  justify-content: flex-end;
}
.navbar-collapse .nav-link {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.7rem;
  font-family: "Ubuntu", sans-serif;
}
.navbar-collapse .nav-link:hover {
  color: #ff3b3f;
}

.footer {
  background-color: rgb(27, 27, 50);
  text-align: center;
  padding: 2rem;
  color: #fff;
}
.footer__iconos i {
  padding: 1rem;
  color: #fff;
  font-size: 3rem;
  transition: all 0.2s ease;
}
.footer__iconos i:hover {
  color: #ff3b3f;
}

.footer__contacto {
  display: flex;
  justify-content: center;
}
.footer__contacto a {
  color: #fff;
}
.footer__contacto a:hover {
  color: gray;
}

.footer__contacto span {
  color: #fff;
  margin: 0 1rem;
}

.footer__copy {
  margin: 1rem;
}

.borde {
  border-bottom: 1px solid gray;
  padding: 1rem;
}

.habilidades {
  margin: 4rem 2rem;
  display: flex;
  align-items: center;
}
.habilidades .habilidades__texto {
  font-size: 1.8rem;
  text-align: center;
}
.habilidades .Habilidades__img {
  width: 70px;
}
.habilidades .img-left {
  transform: rotate(90deg);
}

@media (max-width: 576px) {
  .habilidades img {
    display: none;
  }
}
.hero__grid {
  display: grid;
  gap: 3rem;
  margin: 4rem 2.5rem;
}

.curso {
  -webkit-box-shadow: 0px 6px 25px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 6px 25px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 6px 25px 0px rgba(0, 0, 0, 0.75);
  transition: all 0.3s ease;
}
.curso .curso,
.curso .curso img {
  border-radius: 10px;
}
.curso:hover {
  transform: scale(1.1);
}

.curso__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.curso__info .curso__nombre {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.8rem;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .hero__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  .hero__grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
.certificado {
  padding: 2rem;
  margin: 1rem;
  transition: all 0.3s ease-in;
}
.certificado img {
  width: 80px;
}
.certificado__info {
  margin-left: 2rem;
}
.certificado:hover {
  background-color: rgb(27, 27, 50);
  color: #fff;
}

/* Hero de page cursos */
.curso-banner {
  background-image: url(../../img/77166.jpg);
  height: 750px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contenido de page Curso */
.secction__contenido {
  display: grid;
  gap: 2rem;
  margin: 4rem;
}
.secction__contenido .secction__info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
}
.secction__contenido .secction__nombre {
  text-transform: uppercase;
  font-weight: bold;
}
.secction__contenido .secction-parrafo {
  padding: 2rem 0;
}

@media (max-width: 768px) {
  .secction-button,
  .secction__nombre {
    width: 100%;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .secction__contenido {
    grid-template-columns: 1fr 2fr;
  }
}
@media (min-width: 992px) {
  .secction__contenido {
    grid-template-columns: 1fr 3fr;
  }
}
.nosotros {
  margin: 2rem 1rem;
  display: grid;
  gap: 2rem;
}

@media (min-width: 768px) {
  .nosotros {
    grid-template-columns: repeat(4, 1fr);
  }
  .nosotros__contenido {
    grid-column: 1/4;
  }
  .nosotros__contenido-2 {
    grid-column: 2/5;
  }
  .nosotros__texto {
    margin-left: -33rem;
    margin-top: 26rem;
  }
  .nosotros__segunda-columna {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-top: 31rem;
    margin-right: -33rem;
  }
}

/*# sourceMappingURL=style.css.map */
